<div class="col-md-4 col-sm-6 col-xs-12 mb-4">
  <div class="card">
    <img class="card-img-top img-fluid" src="http://placehold.it/140x100" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        <span class="badge badge-pill badge-purple float-right">
          
          <%#= product[:price] %>
          <%= number_to_currency(product[:price]) %>

        </span>

        <!-- Link -->
        <!-- <a href="detail-page.html"><%#= product[:name] %></a> -->
        <%= link_to product[:name], "detail-page.html" %>

      </h5>
      <p class="card-text">

          <%#= product[:description] %>
          <!-- truncate(text, length: value) -->
          <%= truncate(product[:description], length: 150) %>
      </p>    
    </div>
  </div>
</div>